[2014-11-18 23:09] dcheng168 opened #2 "Doesn't work with Ember v1.8.1"
I get the following error when using this addon in my Ember app with Ember version 1.8.1.

Uncaught Error: Assertion Failed: You must use Ember.set() to set the `classNames` property (of Ember.TextField:ember344) to `form-control`.

Would you please fix this?

Cheers

[2014-11-19 09:55] #2 closed, assigned to nobody

[2014-12-08 23:33] jackmatt2 opened #3 "Keeping Date object as type Date not moment()"
When I pass a date into the component (planDate is a javascript Date object)

[code]

The compoments converts it to a moment() object instead of a Date object.  This causes problems when sending the date back to the server as the field in the ember-data model is of type `DS.attr('date')` and it sending it as null.

[code]

When I run the `toDate()` function on the object the response is correct.

[2014-12-09 21:53] #3 closed, assigned to nobody

[2014-12-14 02:44] dukedave opened #4 "Input isn't prepopulated with date/time"
So, I don't think I'm missing anything too obvious..
Why isn't the input here prefiled with the bound date? See [here](http://youtu.be/5VtrTkjuYUI).

I've matched the default format exaclty (which appears to be ISO8601 with ms precision).

[2015-01-03 01:27] jackmatt2 opened #5 "Resetting a bound date does not work"
I am using this component on a search screen where the user can select a `from` and `to` date among a number of other options.  I have a `reset` button which resets the model.  What I have found is that the date binding does not reset to blank and retains the original value, everything else is reset as expected.

[code]

[2015-01-19 21:35] dukedave opened #6 "bsDateTimePicker is null"
I followed the readme:

[code]

And put in a `{{bs-datetimepicker date=mydate format='YYYY-MM-DD'}}`.

But I get this in the JS console:

    Uncaught TypeError: undefined is not a function

Which comes from [here](https://github.com/plusacht/ember-bootstrap-datetimepicker/blob/v0.2.7/addon/components/bs-datetimepicker.js#L33), and sure enough if I put in a break point and `this.get('bsDateTimePic

[2015-01-20 00:36] rafaeliga commented on #6
+1

I got the same error here, @dukedave are you using ember-cli?

[2015-01-20 00:54] dukedave commented on #6
@rafaeliga yep, 0.1.5.
FWIW I've switched to https://github.com/edgycircle/ember-pikaday, which works fine.

[2015-01-20 00:56] rafaeliga commented on #6
@dukedave thanks for your tip! but I need one with time picker...

[2015-01-22 11:16] tommyblue commented on #6
I had the same problem, it's caused by the new version of bootstrap-datetimepicker.
I just opened a pull request to fix it

[2015-01-22 11:51] tommyblue opened #8 "how to show the icon in the input field?"
I followed the instructions but the `input-group-addon` span remained empty (no icon). I had to create the `app/templates/components/bs-datetimepicker.hbs` file in my ember-cli app to show it:

[code]

Other icons are ok, just this was empty. Browsing the code I didn't find anything about setting the icon. What I'm missing?

[2015-01-22 23:04] claudiocro commented on #5
The latest version v0.2.8 should fix it.

[2015-01-22 23:09] claudiocro commented on #6
I just released v0.2.8 where I updated to eonasdan-bootstrap-datetimepicker to 4.0.0. This should fix this error.

[2015-01-22 23:14] rafaeliga commented on #6
thanks @claudiocro !!!

[2015-01-23 01:52] jackmatt2 opened #10 "Using this from an addon project"
I am pulling this into an addon project which I share among a number of sub projects.  I have found that I need to run `ember g ember-bootstrap-datetimepicker` to pull down all the bower dependencies or I get errors about missing bower dependencies.  So If I had 10 subprojects plus the single addon project, I would need to do this 11 times.

It is possible to automatically serve these bower depend

[2015-01-26 10:27] claudiocro commented on #6
I'm gona close this issue. It should be fixed

[2015-01-26 10:27] #6 closed

[2015-01-26 10:28] #5 closed

[2015-01-26 10:28] #4 closed

[2015-01-26 10:31] claudiocro commented on #8
This was an issue, that 0.2.8 has resolved.

[2015-01-26 10:31] #8 closed

[2015-02-04 21:16] bradplank opened #11 "Latest changes force the use of glyphicons, allow customization without forcing a glyphicon resource request."
The following change to ember-bootstrap-datetimepicker forces the client to make a network request for the glyphicon set when it may not be required:

[code]

I prefer the font-awesome icon set, and was using less to style the span.

[2015-02-04 21:19] bradplank commented on #11
Could we revert the change to allow the following to work:

template:
[code]

mixin:
[code]

controller:
[code]

[2015-02-04 21:24] bradplank commented on #11
Using the following in the meanwhile:

[app/templates/components/bs-datetimepicker.hbs]
[code]

[2015-02-04 23:47] bradplank commented on #11
I have an idea to modify the component slightly, that will solve both this template update to have a default icon and allow easier customization.  I should have a pull request put together shortly.

Idea: reuse the ability to override the icons like the eonasdan-bootstrap-datetimepicker, by checking if the icons property is set, look for the calender icon setting, otherwise, use the glyphicon.

te

[2015-02-05 10:46] claudiocro commented on #11
This should be fixed by #13 ?

[2015-02-05 13:16] bradplank commented on #11
+1 I agree

Sent from my iPhone

[2015-02-05 13:21] #11 closed

[2015-02-06 23:22] shinzui opened #14 "Upgrade broke custom icons"
My project does not include bootstrap's glyphicons and the code to customize the icons no longer works.

[code]

[2015-02-16 01:38] dukedave opened #15 "Merge error: file assets/bootstrap.css.map exists"
With both `"ember-bootstrap-datetimepicker": "~0.2.8"`  and `ember-cli-bootstrap": "0.0.15"` in `package.json`, an `ember build` causes:

[code]

[2015-02-18 13:02] timolehto opened #16 "Impossible to clear value?"
It seem that it is not possible to reset the value of this picker to null/undefined/etc. If you click on the icon it automatically selects a date for you. Which is a little bit odd, but ok... But then the impossible to live with problem is that then there is no undoing "your" selection. If you want another date, that's ok. Just type or choose one from the calendar, but if you decided you didn't wa

[2015-02-18 21:44] kmmathis commented on #14
Having the same issue. What file / where in your code do you call BsDateTimePicker.reopen() ?

[2015-02-18 21:55] shinzui commented on #14
In a custom domain-specific component which wraps ember-bootstrap-datetimepicker.

[2015-03-03 11:00] claudiocro commented on #15
You can instruct the component to not import bootstrap resources inf your Brocfile.js so there should not be any conflict.

[code]

[2015-03-05 15:29] claudiocro commented on #14
This should work with the latest version. Can you confirm that?

[2015-03-05 15:29] #15 closed

[2015-03-05 15:34] claudiocro commented on #16
If you want to prevent the picker from automatically setting the current date you can set the "useCurrent" option to false.

ember-bootstrap-datetimepicker supports all options from "eonasdan-boostrap-datetimepicker":
http://eonasdan.github.io/bootstrap-datetimepicker/Options/#usecurrent

Clearing the value is working with the latest version 0.3.0 @timolehto can you config this?

[2015-03-06 17:56] shinzui commented on #14
It's working now.

[2015-03-06 17:56] #14 closed

[2015-03-09 09:01] givanse opened #20 "A fragment cannot be pushed into a buffer that contains content"
I followed the installation instructions and added the component like this:

    {{bs-datetimepicker date=model.createdBefore format='MM-DD-YYYY'}}

The app now throws:

    Assertion Failed: A fragment cannot be pushed into a buffer that contains content

Any ideas?

[2015-03-09 09:46] claudiocro commented on #20
Can you make a small reproduction with JSBin or repo? So we can try to help track this?

What ember.js version are you using?

[2015-03-09 10:04] givanse commented on #20
The environment where I first saw the error is:

    "ember": "1.10.0"
    "ember-cli": "0.2.0-beta.1"

So, I thought that the big difference between versions could be causing the problem. I went ahead and upgraded the addon to the latest stable releases (I can submit the PR once we figure this out).

This is the branch with the changes: https://github.com/givanse/ember-bootstrap-datetimepicker/tr

[2015-03-09 10:11] givanse commented on #20
The only info I've found about this: https://github.com/emberjs/ember.js/issues/10400

[2015-03-09 11:23] claudiocro commented on #20
The latest commit seems to take care of the issue, can you confirm it?

https://github.com/plusacht/ember-bootstrap-datetimepicker/commit/0ce680638607e726cbac9273ea8c67f8262ec1be

[2015-03-09 17:43] givanse commented on #20
I rebased the branch, served the dummy app and the issue is not resolved yet.

[2015-03-09 17:59] givanse opened #21 "tabs everywhere"
![](http://s2.quickmeme.com/img/68/687f6a0e3eac26b3036c84403cf5c2000f37804ef77fe2b2cdba9e2e9178e39c.jpg)

:yum:

[2015-03-09 18:44] givanse commented on #20
The error disappears if we comment out `setUnknownProperty()`

https://github.com/givanse/ember-bootstrap-datetimepicker/blob/bump-libs/addon/components/bs-datetimepicker.js#L139

[2015-03-09 20:36] claudiocro commented on #20
Should be gone now, I has committed the wrong source.

[2015-03-09 21:08] claudiocro commented on #21
https://github.com/plusacht/ember-bootstrap-datetimepicker/commit/e71941523dc9ec3413e132c18b682b2df746d800

:blush:

[2015-03-09 21:08] #21 closed

[2015-03-10 18:54] givanse commented on #20
Fixed with 4d25907822b75094599190429d9b43fa68802c71

[2015-03-10 18:54] #20 closed

[2015-03-11 07:53] #16 closed

[2015-03-17 21:42] btecu opened #23 "No icon button"
It would be useful to have the option to opt out of the icon button.
http://eonasdan.github.io/bootstrap-datetimepicker/#no-icon-input-field-only

[2015-04-01 18:25] mgenev opened #24 "date var comes out in a strange format"
I get something like ```1428344574112``` while I need something like 2015-03-26

Should be ISO8601 http://www.iso.org/iso/home/standards/iso8601.htm

[2015-04-01 19:54] claudiocro commented on #24
Where exactly do you get 1428344574112? Can provide a code example?

[2015-04-10 16:35] jkatsnelson commented on #23
I made a PR for this

[2015-04-11 20:46] claudiocro commented on #23
The option has been added with this commit https://github.com/plusacht/ember-bootstrap-datetimepicker/commit/806c8eab67c82826a2c4c59870e571bff9e275ec
Thanks to @jkatsnelson

[2015-04-11 20:46] #23 closed

[2015-04-17 15:46] vasilakisfil opened #27 "Support for html required input attribute?"
Should easy I think.. you wanna take a look?

[2015-05-12 13:12] haggins opened #28 "Using locales"
Hello,

I try to use another language without success in ember-cli:

In .hbs file:

    {{bs-datetimepicker date=reportDate format='DD.MM.YYYY' maxDate=maxDate locale="de"}}

In Brockfile.js:

    app.import("bower_components/moment/min/moment.min.js");
    app.import("bower_components/moment/locale/de.js");

Javascript console now outputs:

    Uncaught TypeError: locale() locale de is not loaded

[2015-05-13 22:26] talexand opened #29 "addon causes Ember to attempt to watch demo page app tests directory"
Including the following lines in `Brocfile.js` in my existing Ember project causes this issue:

[code]

Error on `ember server`:

[code]

[2015-05-14 01:02] talexand commented on #29
Further investigation: this seems to come from the `EmberAddon()` function, which constructs an app with the following:

[code]

[2015-05-14 01:09] talexand commented on #29
The above were fixed by `bower install bootstrap`, although this left out the Font Awesome dependencies, which I opted to skip (`'importFontAwesome': false`).

[2015-05-31 17:57] claudiocro commented on #27
There is the "textField*" option. The component automatically passes all options to the underlying textfield that are starting with "textField".

In your case you can use: textFieldRequired=true

Here you can see the example:
http://plusacht.github.io/ember-bootstrap-datetimepicker/#example5

[2015-05-31 17:57] #27 closed

[2015-06-08 10:39] rafaltrojanowski opened #32 "Uncaught Error: Could not initialize DateTimePicker without an input element"
I updated ember cli to 0.2.7 and I now I'm getting error when render template with this line:

bs-datetimepicker date=startedAtDate format='YYYY-MM-DD' disabled=disableStartedAtInput

I have ember-bootstrap-datetimepicker 0.4.1 and:
DEBUG: -------------------------------
ember.js:15358 DEBUG: Ember                       : 1.8.0
ember.js:15358 DEBUG: Ember Data                  : 1.0.0-beta.19
embe

[2015-06-08 20:48] claudiocro commented on #32
It look like someting is wrong the the generated HTML.
The generated HTML should look something like this:
[code]

[2015-06-09 07:22] rafaltrojanowski commented on #32
Thanks! I will check it. I successfully render template via block:

{{#bs-datetimepicker date=date2}}
      {{view Ember.TextField disabled=disabled class="form-control" name="Date" placeholder="Date"}}
{{/bs-datetimepicker}}

but it is clean input without picker. Maybe it's something with handlebars version compatibility.

[2015-06-09 08:35] rafaltrojanowski commented on #32
I downgraded to 0.4.0 and now error is different:
Uncaught TypeError: Cannot read property 'date' of undefined

[2015-06-09 19:34] rafaltrojanowski commented on #32
Thanks! Installing broccoli-ember-hbs-template-compiler and downgrade to 0.4.0 resolved problem

[2015-06-11 20:41] #32 closed

[2015-06-13 19:10] #29 closed

[2015-06-15 20:56] satpai1215 opened #33 "JS error when trying to clear DateTimePicker"
I have the 'showClear' option set to true on my template.  But when I try to click the clear button I am getting ```ev.date.isSame is not a function```.  In addition, the value of the datetimepicker is getting reverted when trying to clear.  I have ```keepInvalid=true``` but the datetimepicker is not allowing for blank or null values still.  Does ```keepInvalid=true``` work with the Ember addon?

[2015-06-15 21:17] satpai1215 commented on #33
Related to this issue I found that ```ev.date``` is returning false when the datetimepicker value is null or undefined.  This means that ```Ember.isNone(ev.date)``` returns false in the code below and the else if conditional is being run, which throws the error above.  Changing the first conditional from ```Ember.isNone(ev.date)``` to ```!ev.date``` fixes the issue.

[code]

[2015-06-18 11:29] miguelcobain commented on #28
This addon could have an option to choose which locales to load. Meanwhile, in your brocfile, just include:

[code]

This way you're manually including moment locale file.

[2015-06-23 10:06] sharavsambuu commented on #33
hey satpai1215 thank you, I was having similar issue.

[2015-07-03 13:21] claudiocro commented on #33
I added a test case for this issue, but the test does not fail. Can you have a look if the test represents your case?

#35

[2015-07-03 13:45] claudiocro commented on #28
Locals and other dependencies should be included by the application itself.

Also the current option to include booststrap for the addon will be removed.

[2015-07-03 13:45] #28 closed

[2015-07-03 13:46] #24 closed

[2015-07-03 13:47] claudiocro commented on #10
I close this issue because it's old and I can not help.

[2015-07-03 13:47] #10 closed

[2015-07-03 18:47] btecu opened #36 "Ember 1.13"
In 1.13 `template` triggers a deprecation warning. For checking if it's a block, `hasBlock` can be used.
~~However, it looks like the check is not necessary anyway, since `bs-datetimepicker` component doesn't support blocks anyway, so this should be removed:~~
[code]

[2015-07-03 21:37] satpai1215 commented on #33
thanks for getting back to me.  The test seems to represent my case properly because it's failing locallly for me.  I'm not sure how best to approach figuring out what's wrong but here's a screenshot of the failing test and the error log.  It's throwing the same ```ev.date.isSame is not a function``` error

<img width="1259" alt="screen shot 2015-07-03 at 2 30 00 pm" src="https://cloud.githubuserc

[2015-07-04 04:00] rmariuzzo opened #37 "Setting maxDate/minDate to null raises an error."
For the following code:

[code]

If `date` equals to `null` an error will be raised. However, if `date` equals to `undefined` everything will be fine. I consider setting a `null` value should work as it would work if set to `undefined`.

Stack trace:

[code]

Do you want a PR for this?

[2015-07-08 12:51] miguelcobain commented on #33
I'm having the same issue as described.

[2015-07-08 15:19] #33 closed

[2015-07-08 20:11] claudiocro commented on #37
The `eonasdan-datetimepicker` does not allow `null` for minDate/maxDate. I think it's wrong to do validations / transformation for `eonasdan-datetimepicker` options in this addon.

This belongs to http://eonasdan.github.io/bootstrap-datetimepicker in my opinion.

[2015-07-09 08:31] #37 closed

[2015-07-09 08:32] claudiocro commented on #36
Fixed by #39

[2015-07-09 08:32] #36 closed

[2015-07-09 14:28] miguelcobain commented on #36
I believe that the deprecations aren't gone yet:

[code]

It comes from the `{{view` in the component's tempate.

[2015-07-09 14:31] btecu commented on #36
That requires a bigger refactor from `view` to use a `component`.
It would be nice if we could get that in `0.5.0`.

[2015-07-09 16:00] claudiocro commented on #36
I would like this addon to be free of deprecation warnings. I will start working on this on a separate branch.

[2015-07-10 13:02] izukingz opened #41 "Calendar arrow icons missing"
How do i set the calendar arrow (next, previous) icons?

[2015-07-13 15:50] miguelcobain commented on #36
Can we reopen this?

[2015-07-18 18:02] rafaltrojanowski opened #42 "Doesn't work with Ember 1.8.0"
I get the following error when using this addon (version ~4.14.30)

[code]

[code]

In other project with Ember 1.12.1 it works fine.
Unfortunately I can't upgrade Ember because this causes many other compatibility problems.

Would you please fix this?

[2015-07-20 12:45] oswaldoacauan opened #43 "Path or pattern "bower_components/ember-cli-moment-shim/moment-shim.js" did not match any files"
Ember-cli version 0.2.7

[2015-07-20 14:02] btecu commented on #43
The issue is that `ember-cli-moment-shim` has been migrated from `bower` to `npm` in the last version.

[2015-07-20 16:43] jeancdc commented on #43
+1

[2015-07-20 16:48] oswaldoacauan commented on #43
A quick fix is to force on your `bower.json` the version `0.2.0` of `ember-cli-moment-shim`.

[code]

[2015-07-20 16:57] jeancdc commented on #43
So, we must to wait a newer version of ember-bootstrap-datetimepicker in order to use the new version of ember-cli-moment-shim?

[2015-07-20 18:33] jasonmit commented on #43
https://github.com/plusacht/ember-bootstrap-datetimepicker/pull/44

[2015-07-27 15:00] rafaltrojanowski commented on #42
I upgraded project, now works fine.

[2015-07-27 15:00] #42 closed

[2015-08-01 03:45] rmariuzzo commented on #37
Ok, it makes sense.

[2015-08-04 05:53] jcope2013 commented on #43
status of using this alongside 0.6.0 of ember-cli-moment-shim? https://github.com/jasonmit/ember-cli-moment-shim, do we still need the bower listing and import?

[2015-08-04 05:54] jasonmit commented on #43
It's an addon now, so npm dep only and yes to import.  Import as 'moment'

[2015-08-04 05:59] jcope2013 commented on #43
@jasonmit do you know where to import moment? i am getting Uncaught bootstrap-datetimepicker requires Moment.js to be loaded first, prolly get rid of this in the index.js but not sure where to put import now

[code]

[2015-08-04 11:33] btecu commented on #43
I've ended up writing a new addon that uses the latest versions of the dependencies (`bootstrap-datetimepicker` and `ember-cli-moment-shim`).
Also, it doesn't have any `view` so you don't get any deprecation warnings with `ember 1.13+`.

Feel free to give it a try - https://github.com/btecu/ember-cli-bootstrap-datetimepicker

[2015-08-04 11:58] claudiocro commented on #43
@btecu Thank your for answering and helping in this. Do you want collaboration rights for this project? So you could help out?

[2015-08-04 14:58] jasonmit commented on #43
@jcope2013 'ember install ember-cli-moment-shim'

[2015-08-04 15:50] jasonmit commented on #43
And remove the app.import, you will not be needing that anymore.

[2015-08-04 16:03] jcope2013 commented on #43
@jasonmit hmm i give it another shot later but that sounds similar to what i tried, do you have it working alongside the npm package? I was getting this error inside the bootstrap-datetimepicker ``` Uncaught bootstrap-datetimepicker requires Moment.js to be loaded first ```

[2015-08-04 16:07] jasonmit commented on #43
Push what you have to a branch.  I don't know anything about bootstrap date picker to help until I see what you have.

[2015-08-04 16:44] jcope2013 commented on #43
this is what I npm linked into my app https://github.com/jcope2013/ember-bootstrap-datetimepicker

I manually do the imports in my own app so i removed them from the index.js, maybe that is the culprit

[2015-08-04 18:18] btecu commented on #43
@claudiocro I thought about trying to solve this issue, but then I saw that there was a pull request (#44) that stayed open for over two weeks and I wasn't sure if you were still interested in this project or maybe if you have the time for it. Additionally, this addon relies heavily on the old ember view and causes deprecation warnings in 1.13. In 2.0 is not going to work unless you specifically p

[2015-08-05 04:33] jasonmit commented on #43
@jcope2013 https://github.com/plusacht/ember-bootstrap-datetimepicker/pull/45/commits should fix the issue

[2015-08-19 20:49] claudiocro commented on #43
#45 has been comited and should fix this

[2015-08-19 20:49] #43 closed

[2015-08-19 21:02] claudiocro opened #47 "Remove importBootstrap options"
This addon depends on boostrap but in my opinion it should not import the bootstrap assets itself, this should be done in the application.

Remove this options:
- importBootstrapCSS
- importBootstrapJS
- importBootstrapTheme
- importFontAwesome

[2015-08-20 03:01] jasonmit commented on #47
:+1:

[2015-08-28 13:12] sacarino commented on #41
You need to make sure the glyphicons are imported into your app - here's how to do it for ember-cli.

http://miguelcamba.com/blog/2014/08/10/import-bootstrap-glyphicons-in-ember-cli/

Beyond that, you can set your icons to use fontawesome with **icons=faicons**

[2015-08-28 13:16] sacarino commented on #47
Agreed

[2015-08-28 13:22] sacarino opened #49 "Can't force the picker to show/use UTC date?"
Hi there.

This is an excellent addon for ember-cli, but I seem to be hitting a wall with the TZ used by the picker itself.

I have a ISO8601 activityDate `2015-08-27T21:27:00Z` (example) being returned by my backend, and successfully loaded as `moment.utc(value)`. However, as soon as the picker's value changes activityDate, it's now in my local tz and NOT still in UTC. I think what's happening he

[2015-09-19 19:38] marcemira opened #51 "Not installing, npm error"
Tried `ember install ember-bootstrap-datetimepicker` and I get:

[code]

[2015-09-19 23:04] jasonmit commented on #51
I can reproduce this.  @claudiocro can you republish

[2015-09-19 23:05] jasonmit commented on #49
https://github.com/plusacht/ember-bootstrap-datetimepicker/pull/50/files will fix this since it implements an action versus setting the value for you.

[2015-09-20 06:18] ChALkeR opened #52 "Do not package travis-phantomjs (reduce installed size more than 1000 times)"
_Disclaimer: I am not a user of this package, this was found during mass npm package downloading._

Atm, your npm package `ember-bootstrap-datetimepicker` `0.6.0` has packaged size **37 MiB**, and installed size **70.55 MiB**.

**70.50 MiB** of that is inside the `./travis-phantomjs` dir. 17 MiB of that is the file `./travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2`.

I suspect that those fi

[2015-09-20 06:27] jasonmit commented on #52
There is one dep and it's needed (babel).  Also not sure why your bot is flagging phantomjs in travis ci builds.

[2015-09-20 06:53] ChALkeR commented on #52
`phantomjs-2.0.0-ubuntu-12.04.tar.bz2` is needed?

[2015-09-20 06:56] ChALkeR commented on #52
[code]

24K     package/app
12K     package/blueprints
4,0K    package/CHANGELOG.md
12K     package/config
4,0K    package/index.js
4,0K    package/LICENSE.md
4,0K    package/package.json
4,0K    package/publishToGHPages.sh
4,0K    package/README.md
**71M     package/travis-phantomjs**

[2015-09-20 07:02] ChALkeR commented on #52
@claudiocro

[2015-09-20 07:17] jasonmit commented on #52
Oh, looks like @claudiocro does deployments directly from the CI box.  He'll need to modify the the travis.yml to remove travis-phantom before deployment.

Reopening.

[2015-09-21 07:13] #52 closed

[2015-09-22 21:54] claudiocro commented on #51
I released 1.0.1.

[2015-09-22 21:55] #51 closed

[2015-10-19 10:40] jackmatt2 opened #57 "template causes bootstrap css to get confused"
The problem with templates on any basic control is that it renders an unnecessary `div` tag which screws up other components that wrap the control and also css.  In my case, I use the component {{bootstrap-control}} which allows you to add errors, icons etc.

[code]

Even if you yield the input control only

[code]

The results is still

[code]

If the control used  `tagName="input"`, this would e

[2015-10-23 10:32] NeilAllen opened #58 "Doesn't load locales"
Just that!

Uncaught TypeError: locale() locale it-it is not loaded from moment locales!

[2015-10-26 03:18] jasonmit commented on #58
I don't understand.  moment.locale is undefined?

[2015-10-26 03:22] #58 closed

[2015-10-28 01:25] jasonmit commented on #57
Seems like a reasonable request, would be happy to review a PR.

[2015-10-28 02:35] jackmatt2 commented on #57
OK, I will look into it.

[2015-10-28 08:42] jackmatt2 commented on #57
@jasonmit do you know that the alternative to `tagName` will be or is still being thought out?

[2015-11-12 07:30] lumenlunae commented on #57
I had this exact problem with bootstrap and I solved it by doing this:
[code]
[code]

Hope that helps!

[2015-12-04 00:14] celicoo commented on #47
+1

[2015-12-04 00:19] celicoo opened #59 "Language support"
I would like to propose language support. The add-on is great , but unfortunately I can not use because the users are brazilian.

[2015-12-04 00:31] jasonmit commented on #59
I'm not following, ember-bootstrap-datetimepicker does not contain anything language specific.  The actual bootstrap component, bootstrap-datetimepicker, supports a locale option.  Unusure if this satisfies your requirements.  If you need further customization around language, you should request it https://github.com/Eonasdan/bootstrap-datetimepicker

[2015-12-04 00:31] #59 closed

[2015-12-04 00:33] jasonmit commented on #59
Also, all the text does seem to be customizable downstream in bootstrap-datepicker.

[2015-12-14 07:33] aparikka opened #60 "disabledDates/enabledDates"
Somebody got working disabled/Enabled dates?

I have tried with ember 1.13 and 2.2.0

like this:

{{bs-datetimepicker date=mydate  disabledDates=["2015-12-24","2015-12-12"] format='YYYY-MM-DD' updateDate=(action (mut model.date2))}}

No error messages on console, but no disabled dates in calendar.

[2015-12-14 07:45] jasonmit commented on #60
You can't pass arrays like that through handlebar syntax.

[code]

[code]

Or you can create a htmlbars helper to convert a comma separated string to an array.

[2015-12-14 08:49] aparikka commented on #60
thanks for fast reply. I tried defining array in controller that way also, but still those days are enabled.
Can you get this working?

[2015-12-14 18:16] jasonmit commented on #60
Reopening to investigate

[2015-12-16 07:56] ugoa opened #61 "Modifing property in causes significant performance degradation."
In the `didInsertElement` hook, one of the properties is explicitly updated,
[code]
Which makes the date selecting significantly slower then the native js plugin, and also the ember-cli reports a deprecation warning
[code]
Please kindly refactor this part a bit, the performance could be much boosted.
Cheers.

[2015-12-19 15:54] Jopie01 commented on #41
Today I installed the datepicker in my app, which has already bootstrap installed, with

`ember install ember-bootstrap-datetimepicker`

and added the component into my template

`{{bs-datetimepicker date=date }}`

Because I'm using fontAwsome I created a object like in the datepicker itself (https://github.com/Eonasdan/bootstrap-datetimepicker/blob/development/src/js/bootstrap-datetimepicker.js#L

[2015-12-19 16:00] Jopie01 commented on #47
:thumbsup:  IMO when you have already bootstrap installed, there is no need to do it again. See #41

[2016-02-01 00:44] samsebastian opened #65 "Datepicker hidden?"
I've noticed that is some circumstances the datepicker is hidden by it's container.

Example below, is there a way to make the datepicker show above the container?

![image](https://cloud.githubusercontent.com/assets/9647970/12706429/b84cd900-c8d0-11e5-994d-5d65906d444b.png)

[2016-02-01 01:26] jasonmit commented on #65
This addon does not ship with CSS, so it's either your project or stylesheets within https://github.com/Eonasdan/bootstrap-datetimepicker

Please make that determination and report to bootstrap-datetimepicker if it applies.

[2016-02-01 01:26] #65 closed

[2016-02-02 15:41] NullVoxPopuli opened #66 "How do I initialize the datepicker on route navigation?"
the date picker works if I refresh the page (or just manually type in the URL that has the datepicker)

but if I navigate to it, the datepicker isn't initialized, and the text field is just a text field.

Here are the two templates that I navigate between:

this one is at /events/:id//edit/
https://github.com/NullVoxPopuli/aeonvera-ui/blob/upgrade-to-ember-2/app/templates/events/show/edit/index.em

[2016-03-31 16:48] nagkumar opened #69 "Assertion Failed: A helper named 'mut' could not be found"
Not working with ember 1.10.0 version.

It gives the errors

1. Assertion Failed: A helper named 'mut' could not be found
 for (action (mut time4))
2. Uncaught TypeError: this.getAttr is not a function

    inputGroupClass: computed('attrs.noIcon', function () {
      if (!this.getAttr('noIcon')) {
        return 'input-group';
      }

[2016-03-31 20:10] jasonmit commented on #69
Master is not compatible with < 1.13

[2016-03-31 20:10] #69 closed

[2016-03-31 20:50] jasonmit opened #72 "NPM publish"
@plusacht/owners please npm publish 1.0.3 and 1.0.4 (master) or feel free to add me jason.mitchell.w (at) gmail.com

[2016-04-01 11:48] claudiocro commented on #72
I will do it in the next 48 hours.

I use the npm `semantic-release` library to publish this addon, that has shown to be troublesome. I will change that and give you also publish right's if you want @jasonmit .

[2016-04-01 11:48] claudiocro commented on #72
Ahh, you already answered my question :smile:

[2016-04-01 11:55] claudiocro commented on #72
@jasonmit you have `npm publish` rights. Ff you can wait until i remove the `semantic-release` stuff, and if not just release it. Else I will do it in the next 48 hours.

[2016-04-05 21:07] offirgolan commented on #72
friendly bump :smiley_cat:

[2016-04-05 21:08] jasonmit commented on #72
I didn't have rights when I opened the issue, if that changed since then I'll version tonight

[2016-04-07 09:40] claudiocro commented on #72
done!

[2016-04-07 09:40] #72 closed

[2016-04-07 17:45] offirgolan commented on #72
Fantastic! Thank you 😬

On Thursday, April 7, 2016, Claudio Romano <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-04-14 06:10] eddiesholl opened #77 "Cannot find module 'eonasdan-bootstrap-datetimepicker'"
We recently took an npm dependency on v1.0.4. When running 'ember build -w', I am seeing the following error:

Cannot find module 'eonasdan-bootstrap-datetimepicker'
Error: Cannot find module 'eonasdan-bootstrap-datetimepicker'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.require.resolve (internal/module.js:23:19)
    at Class.module.exports.treeForVendor (/home/eddie

[2016-04-14 15:33] jasonmit commented on #77
ember g ember-bootstrap-datetimepicker

[2016-04-14 15:59] #77 closed

[2016-04-14 21:22] jasonmit commented on #66
Links are dead, closing

[2016-04-14 21:22] #66 closed

[2016-04-14 21:24] #49 closed

[2016-04-26 13:42] jackmatt2 commented on #32
Also getting this error on `ember@2.4.4`.  I don't think having to install third party dependencies and downgrade dependencies is a viable solution.

[2016-04-28 17:57] nwhittaker opened #78 "The "defaultDate" option appears to be ignored"
Set the [`defaultDate`](http://eonasdan.github.io/bootstrap-datetimepicker/Options/#defaultdate) option on the `{{bs-datetimepicker}}` component to a valid Date.

**Observed:** No visible difference from a datetime picker where now `defaultDate` option is defined.

**Expected:** It's not entirely clear from the docs, but I think I'd expect the default date to be pre-selected in the datetime picker

[2016-04-28 17:59] nwhittaker commented on #78
I believe it has something to do with the line at https://github.com/plusacht/ember-bootstrap-datetimepicker/blob/master/addon/components/bs-datetimepicker.js#L82.

[2016-05-13 08:53] acerov opened #79 "global default settings"
Hi,

Thnx for addon, I have a question, simple one I hope ;)
How to set default settings so that I do not have to repeat it over and over again in each template.

For example I would like "Today button" to be allways displayed and would like to avoid repeating that option `{{bs-datetimepicker showTodayButton=true}}`.

Thnx

[2016-05-14 07:43] erwin16 opened #80 "I18n usage"
Coming from Rails, I have some issue in localizing my project ...  hw can I use 18n, with the bootstrap-datetimepicker ? thanks for adding a paragraph on it in the README ...

[2016-05-14 07:44] jasonmit commented on #80
You want to localizes the labels?

[2016-05-14 07:47] jasonmit commented on #80
http://eonasdan.github.io/bootstrap-datetimepicker/Options/#locale and feel free to bring in moment w/ locales through ember-cli-moment-shim

[2016-05-14 07:47] #80 closed

[2016-06-04 21:05] blogcraft opened #81 "date() parameter must be one of [null, string, moment or Date]"
I have a form in `http://localhost:4200/appointments/new` and inside I have this:

`{{bs-datetimepicker date=model.appointment.date format="LL"}}`

But when ever I open the form page I get the same error

 :S isn't supposed that the model.x is null when creating a new element?

[2016-06-23 15:17] jtabone16 commented on #69
Could we install a prior version compatible with ember versions less than 1.13?

[2016-07-08 10:18] FredUK commented on #61
I've just experienced the same issue and I've solved it by wrapping the setting of my own date property into Ember.run.next. Not nice but seems to work:

`{{bs-datetimepicker date=fromDate updateDate=(action 'updateStartDate')}}`

[code]

Hope that helps.
Fred

[2016-09-26 20:31] rafael-paiva opened #84 "`contains` deprecation warning after Ember 2.8 upgrade"
There's one `Enumerable#contains` that needs to be changed to `includes` (http://emberjs.com/deprecations/v2.x/#toc_enumerable-contains) to avoid the deprecation warning below:

`DEPRECATION:`Enumerable#contains`is deprecated, use`Enumerable#includes`instead. [deprecation id: ember-runtime.enumerable-contains] See http://emberjs.com/deprecations/v2.x#toc_enumerable-contains for more details.`

[2016-09-26 23:53] josemarluedke opened #86 "Error with Glimmer 2 [Ember 2.9.0 bata 3]"
Hey there!

We are getting an error when using this addon with Ember 2.9.0 beta 3 where Glimmer 2 is the new rendering engine.

[code]

The stack trace points to this block:

[code]

Would be wonderful if you could take a look on this. Thanks.

[2016-09-30 23:07] josemarluedke commented on #86
This is also happening in Ember 2.8.1.

[2016-10-11 10:17] miguelcobain commented on #86
The problem is that the `size` function was removed in jquery 3.0

[2016-10-15 02:34] josemarluedke commented on #86
It seems that this is a problem in upstream related to jquery version. More info: https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1684

[2016-11-25 03:25] pcambra commented on #86
Confirmed that updating the ember-bootstrap-datetimepicker version to 4.17.42 in the package.json file fixes the issue

[2016-12-02 13:44] umeshblader3 opened #88 "After i installed ember-bootstrap-datetimepicker, i get this error message. Please help me."
DEPRECATION: `Enumerable#contains` is deprecated, use `Enumerable#includes` instead. [deprecation id: ember-runtime.enumerable-contains] See http://emberjs.com/deprecations/v2.x#toc_enumerable-contains for more details.
    registerHandler/HANDLERS[type]@http://0.0.0.0:3001/assets/vendor.js:21555:7
    raiseOnDeprecation@http://0.0.0.0:3001/assets/vendor.js:21475:7
    registerHandler/HANDLERS[typ

[2016-12-15 20:04] jaredgalanis opened #89 "Assertion Failed: You modified [PROPERTY] twice on [MODEL] in a single render, after update to Ember 2.10"
I'm getting an assertion when I click on any calendar icon in any of the instances of ember-bootstrap-datetimepicker.

```"Assertion Failed: You modified requisition.start_date twice on <frontend@model:requisition::ember935:null> in a single render. This was unreliable and slow in Ember 1.x and is no longer supported. See https://github.com/emberjs/ember.js/issues/13948 for more details."```

This

[2016-12-16 15:50] Voles opened #90 "Maintainer(s)"
Hi @ claudiocro,

First of all, thanks for your work developing this addon.
I'm wondering if you're up to allow extra maintainers.

I would be happy to help maintaining this addon by triaging issues, reviewing PR's and creating releases.

Thanks in advance

:sunny:

[2016-12-17 14:50] jaredgalanis commented on #89
Apparently I was not passing down the value I was attempting to mutate into the component. As a result I think I was attempting to mutate that value on the parent. As soon as set a value for date on the component declaration, this error went away.

[2016-12-17 14:50] #89 closed

[2016-12-19 11:01] claudiocro commented on #90
Hi @Voles

I'm totally up for extra maintainers. At the moment I work alot with react so I had no time to check all the pull requests. I would be very glad to have some help.

I first can give you some more github permission to this project and then add you to the publisher on npm. Is it ok for you?

There are 7 pull request already open and it would be good to start there.

What do you think?

[2016-12-19 11:06] Voles commented on #90
@claudiocro good to hear. I'm definitely up to help with PR's!

[2016-12-21 14:20] Voles commented on #90
@claudiocro how do you currently test new additions? I see the addon uses Ember v1.13.8, but there's support for:
* 1.11.3
* 1.12.1
* 1.13.3

I'm curious to hear about your workflow. I'd like to merge the PR's that provide support for v2.8 & upcoming versions, but not sure about how to test those versions with this addon.

Thanks very much in advance for your help.

[2017-01-01 20:57] ahlivehr commented on #88
I'm also getting the error "input.size is not a function". Is there a more robust example for how to get this to work for Ember 2? I'm also pretty new to Ember, so it might just be my lack of experience in getting this to work.

[2017-01-01 20:59] ahlivehr commented on #88
@umeshblader3 I just saw this issue that's probably related to your problem: https://github.com/plusacht/ember-bootstrap-datetimepicker/issues/86.

[2017-01-01 23:21] #84 closed

[2017-01-02 01:50] jasonmit commented on #86
Should be fixed on master, https://github.com/plusacht/ember-bootstrap-datetimepicker/blob/master/blueprints/ember-bootstrap-datetimepicker/index.js#L6

[2017-01-02 01:50] #86 closed

[2017-01-29 18:22] Voles commented on #90
@claudiocro do you maybe have some time to take a look at my question? Thanks a lot!

[2017-01-30 04:56] jasonmit commented on #90
Is the question how do I target specific versions of Ember?  That is already covered via ember-try and here is the configuration for the versions that are targeted explicitly:
https://github.com/plusacht/ember-bootstrap-datetimepicker/blob/master/config/ember-try.js

I'd be happy to help once you open a PR.  Hard for me to answer without knowing the scope of the PR.  Typically, nothing special is

[2017-02-07 00:17] Kilowhisky commented on #49
Not quite..

The datepicker appears to create a new date based off the local time when the action is triggered. It disregards the timezone in the incoming date too and assumes its local.

So for example if i send in this to the date picker.
`moment.utc('2017-01-01 7:00:00Z')`

If i do nothing to the date but get it to trigger the action It will output this (assuming i'm -7 time zone)
`moment.forma

[2017-02-12 20:54] Voles commented on #90
@jasonmit thanks! I didn't know about ember-try.
I've updated the CHANGELOG and created release notes for v1.1.0 you have published.

[2017-02-12 20:54] #90 closed

[2017-02-13 16:14] jlami commented on #61
This is still a problem now, but probably due to another problem.

`didReceiveAttrs` calls `_updateDateTimePicker`, which updates all the attributes, not only the ones that changed. This seems to trigger a big update on the base datepicker that makes the browser lag. Maybe `_updateDateTimePicker` should get the attributes that changed so it can check which ones have changed? And then for the date

[2017-02-14 09:14] Voles commented on #88
@umeshblader3 @ahlivehr this has been fixed in [v1.1.0](https://github.com/plusacht/ember-bootstrap-datetimepicker/releases/tag/v1.1.0). Please let us know if you still encounter issues after updating.

[2017-02-14 09:14] #88 closed

[2017-02-14 09:15] Voles commented on #88
@ahlivehr if you still have issues with `input.size`, can you create a new issue with some more details? Then we can take a closer look at what is going wrong.

[2017-03-06 22:42] haldiggs opened #91 "how can I add custom name/id"
I wanted to get a hold of the datepicker inside didInsertElement. How can I add an id/name to the component?

    {{bs-datetimepicker id='txtCollectionDate' name='txtCollectionDate' date=null format="MM/DD/YYYY" pickTime=false showToday=true updateDate=(action 'updateCollectionDate') placeholder="Date"}}

Neither id/name get rendered. Also what can I import to get the actual bsDateTimePicker compo

[2017-04-19 20:25] haldiggs commented on #91
guess not

[2017-04-19 20:25] #91 closed

[2017-05-01 20:12] lionelrudaz commented on #89
Hi @jaredgalanis, I've got the same issue, but I'm not sure to understand how you've fixed it.

Can you paste your code here?

Thanks in advance

[2017-05-15 15:26] sylwiaeb commented on #79
@acerov You can wrap `{{bs-datetimepicker showTodayButton=true}}` with your own component, lets say `{{my-datepicker}}` and pass properties from my-datepicker to bs-datetimepicker ex.

In `{{my-picker}}` template:
[code]

and you each time you call `{{my-picker}}` it will run run `{{bs-datetimepicker}}` with `showTodayButton=true`

[2017-07-25 12:06] egnashko commented on #81
Have the same problem

[2018-02-19 18:57] rafaelbnp opened #93 "Deprecation warning on Ember 2.18"
I've been getting this deprecation warning on Ember 2.18.2:

Resolve this warning by updating `ember-cli-version-checker` to version `2.0.0` or later.

[2018-04-03 12:45] luizcarraro opened #94 "Deprecation warning on Ember 3.0"
This can be fixed by bumping ember-cli-babel to 6.6.0

[2018-09-05 16:50] adet4ever commented on #94
Is this getting fixed?

[2018-09-26 09:17] m-nagy commented on #94
Any progress on this issue?

[2018-10-05 19:01] adet4ever opened #96 "Buggy behaviour Ember 3 when typing date values"
Sometimes after typing the date input, the date binds and sometimes it just reverts to the old date and doesnt accept the newly entered value.

Date always works when selected through the picker with a mouse but not when entered with keyboard.

In my controller
`let time= moment();
`template
{{
    bs-datetimepicker
    date=time
    useCurrent=false
    dateFormat='DD-MMM-YYYY HH:mm'
    noIcon=t

[2019-01-11 13:26] yuriyaran opened #98 "Up for adoption?"
When an original owner no longer has time to maintain the addon, there is a place where the addon can be "put up for adoption." Melanie Sumner has created [adopted-ember-addons](https://github.com/adopted-ember-addons).

@claudiocro, @Voles, @jasonmit, would you consider allowing us to adopt this addon so that it may continue to provide useful service to the community?

[2020-10-28 09:30] SebastianPetric opened #99 "Date Picker not working with Ember 3.13"
Since I upgraded the project to ember-cli 3.13, the date picker is not showing anymore (See Screenshot). Time Picker is still working. No error messages are showing in console. I tried using version 0.9.1 (which was working before the upgrade) and 0.9.2. Both don't work.

![image](https://user-images.githubusercontent.com/4921411/97417342-db524700-1907-11eb-8338-49e9c8956277.png)
![image](https://

[2020-10-28 09:34] #99 closed, assigned to nobody